:root {
  --primary-color: #63f3e3;
  --secondary-color: #41ada2;
  --bg-color: #141414;
  --card-bg: #1f1f1f;
  --text-color: #cbd5e1;
  --neutral: white;
  --overlay-color: rgba(0, 0, 0, 0.6);
  --font-family: "Google Sans", sans-serif;
  --spacing-0: 0;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-5: 5rem;
  --w-full: 100%;
}

* {
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

body {
  max-width: 1200px;
  width: var(--w-full);
  margin: var(--spacing-0) auto;
  padding: var(--spacing-2) var(--spacing-0) var(--spacing-1) var(--spacing-0);
  background: var(--bg-color);
  color: var(--neutral);
  position: relative;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-1);
  margin-bottom: var(--spacing-5);
}

/* search */
input {
  padding: var(--spacing-1);
  font-size: 16px;
  width: 300px;
  border-radius: 6px;
  border: none;
  background: var(--card-bg);
  color: var(--neutral);
  border: 2px solid var(--primary-color);
}

input:focus {
  outline: 2px solid var(--secondary-color);
}

input::placeholder {
  color: #aaa;
}

/* hero */
.hero {
  border-radius: 6px;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 60px 24px;
  background:
    linear-gradient(120deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("https://cdn.theplaylist.net/wp-content/uploads/2019/12/14194115/The-Best-TV-Shows-Mini-Series%E2%80%99-Of-2019.jpg")
      center/cover no-repeat;
  color: var(--neutral);
  margin-bottom: var(--spacing-5);
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.hero-text {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 24px;
  font-weight: 500;
}

.hero-btn {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
  padding: 12px 28px;
  border-radius: 2px;
  cursor: pointer;
}

/* cards grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

/* cards */
.card {
  cursor: pointer;
  position: relative;
  background: #1f1f1f;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card-img {
  object-fit: cover;
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: #0b1220;
}

/* card overlay */
.card-overlay {
  position: absolute;
  inset: 0;
  z-index: 3;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  color: var(--neutral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  text-align: center;
  padding: 0.8rem;
  opacity: 0;
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
}
.card:hover .card-overlay,
.card:focus-visible .card-overlay {
  opacity: 1;
}
.card-title {
  font-weight: 700;
}
.card-meta {
  font-weight: 600;
  font-size: 14px;
  color: var(--text-color);
}

/* scroll button */
#toTopbtn {
  position: fixed;
  bottom: 185px;
  right: 150px;
  transform: translate(-50%, -50%);
  padding: var(--spacing-1);
  background: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.4;
}

#toTopbtn img {
  width: 24px;
  height: 24px;
}

#toTopbtn:hover {
  opacity: 0.8;
}

/* load more button */
#loadMoreBtn {
  display: flex;
  justify-content: center;
  margin: var(--spacing-2) auto;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
  padding: 12px 28px;
  border-radius: 2px;
  cursor: pointer;
}

#loadMoreBtn:focus {
  outline: 2px solid var(--secondary-color);
}

/* footer */
.footer {
  position: static;
  margin-top: var(--spacing-5);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-end;
  background: #141414;
  border-top: none;
  color: #9aa4b2;
  font-size: 14px;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: var(--w-full);
  max-width: 120px;
}

.footer-text {
  margin: var(--spacing-0);
  text-align: center;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-1);
}

.footer-link {
  filter: brightness(0) saturate(100%) invert(81%) sepia(63%) saturate(381%)
    hue-rotate(105deg) brightness(104%) contrast(91%);
}

.footer-link img {
  width: 30px;
}

.footer-link:hover {
  opacity: 0.7;
}

/*  */
/*  */
/*  */
/*  */
@media (max-width: 768px) {
  body {
    padding: 2rem;
    text-align: center;
  }
}
